html,
body {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
	color: #222;
	width: 100vw;
}
html {
	width: 100vw;
}
* {
	box-sizing: border-box;
}
img,
iframe {
	max-width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: Montserrat, -apple-system, "Segoe UI", "Helvetica Neue",
		"Hiragino Kaku Gothic ProN", メイリオ, meiryo, sans-serif;
}
h2 {
	margin-bottom: 5px;
}
a {
	color: #0044cc;
	text-decoration: none;
}
p {
	margin: 10px 0;
}
main ol,ul {
	padding-left: 30px;
}
main a:hover {
	text-decoration: underline;
}
main a:visited {
	color: #551a8b;
}
main .category {
	margin-left: 20px;
}